.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
    width: 70%;
    margin: auto;
}

section {
    margin-bottom: 2em;
    margin-top: 2em;
    text-align: justify;
    padding: 15px;
    border-bottom: 1px solid;
    border-bottom-color: darkgray;
}

.carousel-indicators {
    bottom: -10px;
}

nav {
    font-size: 1em;
    font-weight: bolder;
}

h3 {
    text-align: center;
    font-weight: bolder;
}

.footer {
    bottom: 0;
    width: 100%;
    background-color:gainsboro;
}
text-center{
    text-align: center;
    margin-bottom: 0;
}