section {
    margin-bottom: 1em;
    margin-top: 2em;
    text-align: justify;
    padding: 15px;    
}
.border_bottom{
    border-bottom: 1px solid;
    border-bottom-color: darkgray;
}

.contact {
    margin-top: 50px;
    margin-bottom: 10px;
}

h3 {
    color: #2B425B;
    text-align: center;
    font-weight: bolder;
}

nav {
    text-align: center;
    font-size: 1.5em;
    font-weight: bolder;
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    color: #2B425B;
}

.navbar-default .navbar-nav > li > a {
    color: #6E7D8E;
    padding-left:10px;
}

footer {
    font-size: 1.5em;
    font-weight:bold;
    background-color: gainsboro;    
}

.text-center {
    text-align: center;
    margin-bottom: 0;
}

.carousel-indicators {
    bottom: -10px;
}

.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
    width: 70%;
    margin: auto;
}

h1 {
    color:#2B425B;
    font-weight: bold;
    font-family: 'Franklin Gothic Book', sans-serif;
}

h2 {
    color:#2B425B;
    font-weight: bold;
    font-family: 'Franklin Gothic Book', sans-serif;
    font-size: 15pt;
}

h4 {
    color:#2B425B;
    font-weight: bold;
    font-family: 'Franklin Gothic Book', sans-serif;
}

.agb {
    font-size: 11pt;
    font-family: 'Franklin Gothic Book', sans-serif;
}
