@{
    ViewBag.Title = "Über Uns";
}
<!-- Content -->
<div class="container">
    <main>
        <div style="padding-top:40px;">
            <center><img src="~/img/Gruppenbild.jpg" width="800" class="img-responsive" /></center>
        </div>
        <div class="row text-center">
            <div class="col-lg-3 col-sm-6 contact">
                <img src="~/img/Hillinger_Favorit.jpg" height="200" alt="Bild von" />
                <p>
                    <b>STEFAN HILLINGER</b><br />
                    Chief Executive Officer<br />
                    Simmeringer Hauptstr. 47-49 1110 Wien<br />
                    stefan.hillinger@sharkesh.com
                </p>
            </div>
            <div class="col-lg-3 col-sm-6 contact">
                <img src="~/img/profile.jpg" width="180" alt="Bild von" />
                <p>
                    <b>MARIO AFFENZELLER</b><br />
                    Software Developer, Web Developer<br />
                    Simmeringer Hauptstr. 47-49 1110 Wien<br />
                    mario.affenzeller@sharkesh.com
                </p>
            </div>
            <div class="col-lg-3 col-sm-6 contact">
                <img src="~/img/Shieder_Foto.jpg" height="200" alt="Bild von" />
                <p>
                    <b>CHRISTIAN SCHIEDER</b><br />
                    Software Developer, Web Developer<br />
                    Simmeringer Hauptstr. 47-49 1110 Wien<br />
                    christian.schieder@sharkesh.com
                </p>
            </div>
            <div class="col-lg-3 col-sm-6 contact">
                <img src="~/img/profile.jpg" width="180" alt="Bild von" />
                <p>
                    <b>JOHANNES STOMPE</b><br />
                    Software Developer<br />
                    Simmeringer Hauptstr. 47-49 1110 Wien<br />
                    johannes.stompe@sharkesh.com
                </p>
            </div>
            <div class="col-lg-3 col-sm-6 contact">
                <img src="~/img/Endl_Favorit.jpg" height="200" alt="Bild von" />
                <p>
                    <b>TOBIAS ENDL</b><br />
                    Database Developer, Software Developer<br />
                    Simmeringer Hauptstr. 47-49 1110 Wien<br />
                    tobias.endl@sharkesh.com
                </p>
            </div>
            <div class="col-lg-3 col-sm-6 contact">
                <img src="~/img/Kreibich_Favorit.jpg" height="200" alt="Bild von" />
                <p>
                    <b>MICHAEL KREIBICH</b><br />
                    Project Supervisor, Software Developer<br />
                    Simmeringer Hauptstr. 47-49 1110 Wien<br />
                    michael.kreibich@sharkesh.com
                </p>
            </div>
            <div class="col-lg-3 col-sm-6 contact">
                <img src="~/img/Rakousky.jpg" height="200" alt="Bild von" />
                <p>
                    <b>DOMINIC RAKOUSKY</b><br />
                    Software Developer, Web Developer<br />
                    Simmeringer Hauptstr. 47-49 1110 Wien<br />
                    dominic.rakousky@sharkesh.com
                </p>
            </div>
            <div class="col-lg-3 col-sm-6 contact">
                <img src="~/img/Hindi.jpg" height="200" alt="Bild von" />
                <p>
                    <b>DARK HINDI</b><br />
                    Web Developer<br />
                    Simmeringer Hauptstr. 47-49 1110 Wien<br />
                    dark.hindi@sharkesh.com
                </p>
            </div>
        </div>
    </main>
</div>
<!-- Content Ende -->
