@{
    ViewBag.Title = "Entwicklungsprojekt";
}

<div class="container">
    <center><h1>Ablauf eines Entwicklungsprojektes</h1></center>
    <div id="accordion" class="col-md-6 agb" style="padding-top:100px">

        <h3>
            Phase 1: Anfrage
        </h3>

        <p>
            Sie definieren die Anforderungen, sowie den zeitlichen Rahmen. Die SHARKESH Entwickler erhalten einen ersten Eindruck über die Zielsetzung des Projektes.
        </p>

        <h3>
            Phase 2: Anforderungsanalyse
        </h3>

        <p>
            In einem persönlichen Gespräch klären wir offene Fragen und Rahmenbedingungen, die für den Entwicklungsplan von Relevanz sind. In weiterführenden Workshops bringen wir unsere Erfahrung mit ein und beraten Sie bei der Erstellung eines Pflichtenheftes für die Entwicklung.
        </p>

        <h3>
            Phase 3: Konzeption und Design
        </h3>

        <p>
            Auf Basis des erarbeiteten Pflichtenheftes erstellen wir für Sie ein maßgeschneidertes Konzept. Wir erstellen einen modular aufgebauten Entwicklungsplan, der Ihnen höchste Transparenz über die Implementierung gewährleistet.
        </p>

        <h3>
            Phase 4: Implementierung
        </h3>

        <p>
            Nach der Beauftragung wird mit der Umsetzung der definierten Projektschritte begonnen. Sie können während der Umsetzung jederzeit Feedback an das Projektteam geben. In regelmäßigen Abstimmungen geben wir Ihnen einen Überblick zum Projektfortschritt und können etwaige Anpassungen im Vorgehen besprechen.
        </p>

        <h3>
            Phase 5: Tests
        </h3>

        <p>
            Mit jedem fertiggestellten Entwicklungsschritt gehen intensive Tests einher. Wir überlassen nichts dem Zufall, sichern die Qualität der Programmierung mehrfach ab. Letzte Adaptionswünsche werden eingearbeitet und etwaige Bugs erkannt und beseitigt.
        </p>

        <h3>
            Phase 6: Abstimmungstermine
        </h3>

        <p>
            Nach erfolgter Beauftragung finden regelmäßige Abstimmungstermine statt in denen Sie die neueste Testversion erhalten, um Änderungswünsche an der Software hervorzubringen.
        </p>

        <h3>
            Phase 7: Abnahme und Projektabschluss
        </h3>

        <p>
            Die Abnahme erfolgt nach vereinbarten Entwicklungsplan, wir begleiten das Go-Live und freuen uns mit Ihnen über den erfolgreichen Projektabschluss. Gerne betreuen wir Sie auch bei stetigen Verbesserungen Ihrer Software weiter.
        </p>


        <h3>
            OPTIONAL Phase 8: Kontinuierliche Weiterbetreuung
        </h3>

        <p>
            Gerne betreuen wir Sie auch nach Projekteende im Rahmen eines Wartungsvertrages weiter.
        </p>

    </div>
    <div class="col-md-6">
        <img src="~/img/Softwareentwicklung.jpg" width="600" />
    </div>
    <center><div style="padding-top:20px;padding-bottom:20px;font-size:15pt;"><a href="@Url.Action("Projects", "Home")">Zurück</a></div></center>
</div>
