
@{
    ViewBag.Title = "Impressum";
}
<div class="container text-center">
    <h3>Impressum</h3>
    <p>
        Sharkesh IT KG<br>
        Simmeringer Hauptstraße 47-49<br>
        1110<br>
        Wien<br>
        Österreich<br>
        <br>
        +43 664 25 70 869<br>
        <a href="mailto:office@sharkesh.com"> office@sharkesh.com</a><br>
        <br>
        IT Dienstleistungsunternehmen<br>
        ATU20161107<br>
        FN515364b<br>
        Handelsgericht Wien<br>
    </p>
    <p>Quelle: <em><a href="http://www.strosch.at/impressum-generator.html" target="_blank">www.strosch.at</a></em></p>
</div>