@{
    ViewBag.Title = "Angebote";
}
<!-- Content -->
<div class="container">
    <center><h1>Eines unserer Angebote</h1></center>
    
    <center>
        <div>
            <p>Sie wollen eine App mit vollem Umfang für ihr Handy?</p>
            <p>Dann empfehlen wir unser</p>
            <h6>4 in 1</h6>
            <img src="~/img/4in1.jpg" width="700" />
        </div>
    </center>
</div>
<!-- Content Ende -->
