@{
    ViewBag.Title = "Angebote";
}
<!-- Content -->
<div class="container">
    <div class="row" style="width:80%;margin-left:auto;margin-right:auto;">
        <center><h1>Unsere Angebote</h1></center>
              
        <div>
            <section class="col-lg-4 col-sm-12">
                <h3>Datenbank-Entwicklung</h3>
                <center><img src="~/img/DatenbankGroß.png" width="250"/></center>
                <p>
                    Datenmengen erreichen heutzutage immer größere Dimensionen, wodurch eine
                    gewissenhafte und zukunftsorientierte Planung wichtiger denn je wird.
                    Wir von Sharkesh kennen die alltäglichen Probleme des Informationsaustauschs
                    und bieten ihnen daher ausgeklügelte und optimierte Lösungen an.
                </p>
            </section>
        </div>
        <div>
            <section class="col-lg-4 col-sm-12">

                <h3>Software-Entwicklung</h3>
                <center><img src="~/img/SoftwareGroß.png" width="250"/></center>
                <p>
                    Wir planen, entwickeln und erstellen die Software, maßgeschneidert nach
                    ihren Wünschen und Vorstellungen. Wir bieten außerdem ein hohes Maß an
                    Transparenz während der Projektphasen.
                </p>
            </section>
        </div>      
        <div>
            <section class="col-lg-4 col-sm-12">
                <h3>Web-Entwicklung</h3>
                <center><img src="~/img/WebGroß.png" width="250"/></center>
                <p>
                    Das Internet ist ein unglaublich wichtiges Standbein der Wirtschaft.
                    Es gibt kaum noch Firmen oder Produkte die ohne Webpräsenz auskommen.
                    Kunden möchten sich über ihr Unternehmen und Ihre Produkte/Leistungen informieren.
                    Webentwicklung ist eines unserer Spezialgebiete!
                </p>
            </section>
        </div>        
    </div>
    <div>
        <h3>Worauf wir noch Wert legen</h3>
        <section class="col-lg-4 col-lg-offset-2 col-sm-12">
            <h3>Design & Usability</h3>
            <p>
                Sie haben eigene Ideen für Ihre Designgestaltung oder möchten sich nach individueller
                Beratung auf bewährte Komplettlösungen verlassen. Wir bei Sharkesh stehen Ihnen
                mit professionellem Rat zur Seite und verwirklichen Ihre Wünsche.
            </p>
        </section>
        <section class="col-lg-4 col-sm-12">
            <h3>eCommerce Support</h3>
            <p>
                Das Internetgeschäft boomt und jeder will ein Stück vom Kuchen haben.
                Immer mehr Anbieter raten zu bereits vorgefertigten Produkten, welche
                sich gegenseitig stark ähneln. Wir bei Sharkesh bieten Ihnen maßgeschneiderte
                und individuelle Leistungen an. Ihr Auftritt wird durch uns unverwechselbar. 
            </p>
        </section>
    </div>
</div>
<!-- Content Ende -->
