@{
    ViewBag.Title = "Angebote";
}
<!-- Content -->
<div class="container">
    <div class="row">
        <center><img class="img-responsive" src="~/img/Under-construction.png" alt="Under Construction" /></center>
    </div>
</div>
<!-- Content Ende -->
