@{
    ViewBag.Title = "Projekt";
}

<div class="container">
    <center><h1>Ablauf eines IT-Projektes</h1></center>
    <div id="accordion" class="col-md-6 agb" style="padding-top:100px">

        <h3>
            Phase 1: Anfrage
        </h3>

        <p>
            Sie definieren die Anforderungen, sowie den zeitlichen Rahmen. Das SHARKESH Projektmanagement Team erhält einen ersten Eindruck über die Zielsetzung des Projektes.
        </p>

        <h3>
            Phase 2: Ist- und Bedarfsanalyse
        </h3>

        <p>
            Die Abwicklung von IT-Projekten beginnt mit dem Abklären Ihrer Anforderungen und Ziele. Im persönlichen Gespräch erarbeiten wir die optimale Lösung, bei komplexen Themen kann eine umfassende Analyse sinnvoll sein.
        </p>

        <h3>
            Phase 3: Projektkonzeption
        </h3>

        <p>
            Die Präsentation unserer Konzeption bzw. der Analyseergebnisse erfolgt persönlich oder per Mail. Nach Definition des Zeitplans erstellen wir Angebote zu den einzelnen Projektabschnitten.
        </p>

        <h3>
            Phase 4: Implementierung
        </h3>

        <p>
            Nach der Beauftragung wird mit der Umsetzung der definierten Projektschritte begonnen. Sie können während der Umsetzung jederzeit Feedback an das Projektteam geben. In regelmäßigen Abstimmungen geben wir Ihnen einen Überblick zum Projektfortschritt und können etwaige Anpassungen im Vorgehen besprechen.
        </p>

        <h3>
            Phase 5: Inbetriebnahme
        </h3>

        <p>
            Nach der abgeschlossenen Umstellung und einer intensiven Prüfung werden die IT-Systeme in Betrieb genommen. Unser Augenmerk gilt der Überwachung aller relevanten Systeme nach Inbetriebnahme.
        </p>

        <h3>
            Phase 6: Projektreflektion und Projektabnahme
        </h3>

        <p>
            Nach dem erfolgreichen Go-Live wird das Projekt dokumentiert und abgeschlossen. Wir holen aktiv Ihr persönliches Feedback zur Projektumsetzung ein.
        </p>

        <h3>
            OPTIONAL Phase 7: Kontinuierliche Betreuung
        </h3>

        <p>
            Gerne betreuen wir Sie auch nach Projekteende im Rahmen eines Wartungsvertrages weiter.
        </p>

    </div>
    <div class="col-md-6">
        <img src="~/img/AblaufProjekte.jpg" width="600" />
    </div>
    <center><div style="padding-top:20px;padding-bottom:20px;font-size:15pt;"><a href="@Url.Action("Projects", "Home")">Zurück</a></div></center>
</div>
