
@{
    ViewBag.Title = "Support";
}

<div class="container">
    <center><h1>Abwicklung eines Supportfalls</h1></center>
    <div id="accordion" class="col-md-6 agb" style="padding-top:100px">
        <h3 >Phase 1: Meldung</h3>
        <div>
            <p>
                <h5>Monitoring</h5>
                Das laufende Monitoring Ihrer IT ermöglicht uns Probleme zu erkennen und zu bearbeiten noch bevor Sie eine Einschränkung in Ihrem Arbeitsalltag feststellen können.
                <h5>Anruf bei SHARKESH</h5>
                Zeigen sich dennoch Probleme bei Ihnen, steht Ihnen unser freundliches Support Team am Telefon oder per Ticketing-System zur Verfügung. Wir hören aufmerksam zu, analysieren mögliche Ursachen und starten mit der Problemlösung.
            </p>
        </div>

        <h3 style="text-align:left">Phase 2: Bearbeitung</h3>
        <div>
            <p>
                <h5>Support per Telefon oder Mail</h5>
                Unser Techniker gibt telefonische Anweisungen oder schickt eine Vorgehensweise per Mail, um Sie bei der Problemlösung zu unterstützen.
                <h5>Remote Support (Fernwartung)</h5>
                Der Techniker verbindet sich mittels Fernwartungstool zum Gerät des Kunden und behebt das Problem selbständig.
                <h5>Serverwartung</h5>
                Unser Techniker verbindet sich auf Ihren Server und bearbeitet im Hintergrund Ihre Störung, sodass Sie uneingeschränkt weiterarbeiten können.
                <h5>Support vor Ort</h5>
                Bei kritischen Störungen kommt unser Techniker persönlich zu Ihnen und behebt das Problem vor Ort.
            </p>
        </div>

        <h3 style="text-align:left">Phase 3: Supportfallabschluss</h3>
        <div>
            <p>
                Sobald das Problem behoben ist, informieren wir telefonisch oder per E-Mail über den erfolgreichen Abschluss des Supportfalles.
            </p>
        </div>

        <h3 style="text-align:left">Phase 4: Kundenfeedback</h3>
        <div>
            <p>
                Anschließend erhalten Sie die Möglichkeit mittels einer Online-Befragung Feedback zur Abwicklung des Supportfalles zu geben. Wir arbeiten ständig an der Verbesserung der Supportqualität und sehen Ihre Rückmeldung als Chance zur zielgerichteten Verbesserung.
            </p>
        </div>

    </div>
    <div class="col-md-6">
    <img src="~/img/Supportabwicklung.jpg" width="600" />
    </div>

</div>